.main_area {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url('../img/hukei-2.jpg?nf_resize=fit');
  background-size: cover;
}

.return_area {
  width: 80%;
  margin: 50px;
}

.text_area {
  width: 80%;
  margin: 0 auto;
}

.title_area {
  margin: 50px auto;
}

.title_item {
  font-size: 20px;
  color: white;
}

.text_item_area {
  width: 100%;
  margin-bottom: 50px;
}

.text_item {
  font-size: 16px;
  line-height: 30px;
  color: white;
  margin-bottom: 10px;
}

.text_area li {
  color: white;
  line-height: 30px;
}

.text_p_item {
  color: white;
  margin: 20px 0px;
  font-size: 18px;
  border-bottom: 1px solid white;
  width: 30%;
}

a {
  color: white;
}